body {
    margin: 0;
    background-color:#1b1a1b;
    scr
}

#pages{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navItem {
  float: left;
}

.navItem a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navItem a:hover {
  background-color: #111;
}


#navbar {
    top: 0;
    position: sticky;
}

